<html lang="en">
  {% extends 'base.html' %} {% block title %}University Library{% endblock %} {%
  block content %}
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the University Library</h1>
      <p class="lead">
        Explore our extensive collection of books and resources.
      </p>
      <hr class="my-4" />
      <p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('add_book') }}"
          >Add Book</a
        >
        <a class="btn btn-info btn-lg" href="{{ url_for('search_books') }}"
          >Search Books & PDFs</a
        >
      </p>
    </div>

    <script>
      const uploadsBaseUrl = "{{ url_for('static', filename='uploads/') }}";
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </div>
  {% endblock %}
</html>
