<html lang="en">
  {% extends 'base.html' %} {% block title %}Search Books{% endblock %} {% block
  content %}
  <div class="container py-4">
    <h1 class="text-center mb-4">Search Books</h1>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="searchQuery"
        placeholder="Search book titles..."
        onkeyup="filterBooks()"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="contentSearchQuery"
        placeholder="Search inside PDFs..."
      />
    </div>
    <button class="btn btn-primary mb-3" onclick="searchPDFContent()">
      Search Content
    </button>

    <ul id="bookList" class="list-group"></ul>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  {% endblock %}
</html>
